<ng-container
  *ngIf="{
    isActivated: isActivated$ | async,
    isConnecting: isConnecting$ | async,
    isDisconnecting: isDisconnecting$ | async
  } as obs"
>
  <ng-container *ngIf="obs.isActivated">
    <ng-container
      *ngTemplateOutlet="settingsButton; context: { obs: obs }"
    ></ng-container>
  </ng-container>
</ng-container>

<ng-template #settingsButton let-obs="obs">
  <div class="button-container">
    <button
      mat-raised-button
      (click)="openDialog()"
      [disabled]="obs.isConnecting || obs.isDisconnecting"
    >
      <mat-icon>settings</mat-icon>
      {{ "preferences" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #settingsDialog>
  <h2 matDialogTitle>
    {{ "Preferences" | translate }}
  </h2>
  <mat-dialog-content> settings </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="accent">
      {{ "close" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
