<ng-container
  *ngIf="{
    isActivated: isActivated$ | async,
    isConnecting: isConnecting$ | async,
    isDisconnecting: isDisconnecting$ | async,
    locationList: locationList$ | async
  } as obs"
>
  <ng-container *ngIf="obs.isActivated">
    <ng-container
      *ngTemplateOutlet="settingsButton; context: { obs: obs }"
    ></ng-container>
  </ng-container>
</ng-container>

<ng-template #settingsButton let-obs="obs">
  <div class="button-container" *ngIf="smartLocation$ | async as smartLocation">
    <button
      mat-raised-button
      (click)="connectToLocation(smartLocation.location)"
      [disabled]="obs.isConnecting || obs.isDisconnecting"
    >
      <mat-icon>settings</mat-icon>
      {{ "settings" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #locationDialog>
  <h2 matDialogTitle>
    {{
      (recommendedLocations$ | async)
        ? ("connectToRecommendedLocation" | translate)
        : ("connectToLocation" | translate)
    }}
  </h2>
  <mat-dialog-content>
    <div class="location-list">
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let countryWithLocations of locationList$ | async"
          [expanded]="
            (selectedCountryCode$ | async) === countryWithLocations.countryCode
          "
          (opened)="selectCountry(countryWithLocations)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              ><span
                [class]="'fi fi-' + countryWithLocations.countryCode"
              ></span
              >{{ countryWithLocations.countryWithoutCode }}</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-selection-list
            *ngIf="countryWithLocations.locations.length > 1"
            [multiple]="false"
            (selectionChange)="onCountrySelect($event)"
          >
            <mat-list-option
              *ngFor="let subLocation of countryWithLocations.locations"
              [value]="subLocation.location"
            >
              <div mat-line>
                <span
                  [class]="'fi fi-' + countryWithLocations.countryCode"
                ></span
                >{{ subLocation.location }}
              </div>
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="accent">
      {{ "close" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
