.button-container {
    padding: var(--padding-md);
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.location-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fi {
    margin-right: 16px;
}