<ng-container
  *ngIf="{
    isActivated: isActivated$ | async,
    isConnecting: isConnecting$ | async,
    isDisconnecting: isDisconnecting$ | async,
    locationList: locationList$ | async
  } as obs"
>
  <ng-container *ngIf="obs.isActivated">
    <ng-container
      *ngTemplateOutlet="smartLocationButton; context: { obs: obs }"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="recommendedButton; context: { obs: obs }"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="locationsButton; context: { obs: obs }"
    ></ng-container>
  </ng-container>
</ng-container>

<ng-template #smartLocationButton let-obs="obs">
  <div
    class="button-container button-container--first"
    *ngIf="smartLocation$ | async as smartLocation"
  >
    <button
      mat-raised-button
      color="primary"
      (click)="connectToLocation(smartLocation.location)"
      [disabled]="obs.isConnecting || obs.isDisconnecting"
    >
      <mat-icon>verified_user</mat-icon>
      {{
        ("connectToSmartLocation" | translate) +
          " (" +
          smartLocation.location +
          ")"
      }}
    </button>
  </div>
</ng-template>

<ng-template #recommendedButton let-obs="obs">
  <div
    class="button-container"
    *ngIf="recommendedLocationsSortedByCountry$ | async as recommendedLocations"
  >
    <button
      mat-raised-button
      color="accent"
      (click)="showRecommendedLocations(recommendedLocations)"
      [disabled]="obs.isConnecting || obs.isDisconnecting"
    >
      <mat-icon>stars</mat-icon>
      {{ "connectToRecommendedLocation" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #locationsButton let-obs="obs">
  <div
    class="button-container"
    *ngIf="locationsSortedByCountry$ | async as locations"
  >
    <button
      mat-raised-button
      color="accent"
      (click)="showLocations(locations)"
      [disabled]="obs.isConnecting || obs.isDisconnecting"
    >
      <mat-icon>location_on</mat-icon>
      {{ "connectToLocation" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #locationDialog>
  <mat-form-field class="search-location" appearance="fill" matDialogTitle>
    <mat-label>{{
      (recommendedLocations$ | async)
        ? ("searchRecommendedLocation" | translate)
        : ("searchLocation" | translate)
    }}</mat-label>
    <input
      matInput
      type="text"
      [ngModel]="searchTerm$ | async"
      (ngModelChange)="setSearchTerm($event)"
    />
    <button
      *ngIf="searchTerm$ | async"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearchTerm()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-dialog-content>
    <div class="location-list">
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="
            let countryWithLocations of filteredLocationList$
              | async as filteredLocationList
          "
          [expanded]="
            (selectedCountryCode$ | async) ===
              countryWithLocations.countryCode ||
            filteredLocationList.length === 1
          "
          (opened)="selectCountry(countryWithLocations)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              ><span
                [class]="'fi fi-' + countryWithLocations.countryCode"
              ></span
              >{{ countryWithLocations.countryWithoutCode }}</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-selection-list
            [multiple]="false"
            (selectionChange)="onCountrySelect($event)"
          >
            <mat-list-option
              *ngFor="let subLocation of countryWithLocations.locations"
              [value]="subLocation.location"
            >
              <div mat-line>
                <span
                  [class]="'fi fi-' + countryWithLocations.countryCode"
                ></span
                >{{ subLocation.location }}
              </div>
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="accent">
      {{ "close" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
