
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

:root {
  --ev-bg-color: #F9F8F2;
  --ev-color-red-dark: #AF4E61;
  --ev-color-red-light: #EB9874;
  --ev-color-green-dark: #5C9C2A;
  --ev-color-green-light: #C5DC00;
  --ev-color-orange-dark: #b6582b;
  --ev-color-orange-light: #faa35d;
  --color-grey-0: #898989;
  --color-grey-1: #C2C2C2;
  --color-grey-2: #efefef;
  --color-grey-3: #F9F9F9;
  --color-grey-4: #FBFBFB;
  --color-white: #fff;
  --color-black: #000;
  --color-backdrop: rgba(0,0,0,0.3);
  --ev-base-font-color: #2C4655;
  --font-size-medium: 18px;
  --font-size-large: 20px;
  --padding-xsm: 8px;
  --padding-sm: 14px;
  --padding-md: 18px;
  --status-gradient-height: 120px;
  --status-icon-container-size: 100px;
  --status-icon-container-bg-image: linear-gradient(var(--color-white), var(--color-grey-2));
  --status-icon-size: 60px;
  --status-message-margin: 65px;
  --box-shadow-lightest: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-light: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --box-shadow-medium: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --box-shadow-heavy: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --box-shadow-heaviest: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  --status-gradient-disconnected-bg-image: linear-gradient(var(--ev-color-red-light), var(--ev-color-red-dark));
  --status-gradient-connected-bg-image: linear-gradient(var(--ev-color-green-light), var(--ev-color-green-dark));
  --status-gradient-notinstalled-bg-image: linear-gradient(var(--color-grey-1), var(--color-grey-0));
  --status-gradient-notactivated-bg-image: linear-gradient(var(--ev-color-orange-light), var(--ev-color-orange-dark));
}

.ev-button {
  border: none;
  background-color: var(--color-white);
  color: var(--ev-base-font-color);
  font-size: var(--font-size-medium);
  padding: var(--padding-xsm) var(--padding-sm);
  box-shadow: var(--box-shadow-lightest);
  border-radius: var(--padding-xsm);
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.04s ease-in-out, color 0.04s ease-in-out, opacity 0.04s ease-in-out;

  &:hover {
    background-color: var(--color-grey-4);
  }

  &:active {
    background-color: var(--color-grey-3);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-grey-0);
    opacity: 0.9;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-backdrop);
  cursor: pointer;
  animation: fadein 0.1s;
}

.backdrop--fade-out {
  animation: fadeOut 0.1s;
}

.list {
  background-color: var(--color-white);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 300px;
  height: 100%;
  box-shadow: var(--box-shadow-heavy);
  transition: transform 0.1s ease-out;
  transform: translateX(110%);
  display: flex;
  flex-direction: column;
}

.list--show {
  transform: translateX(0);
}