<div
  class="container"
  *ngIf="{
    isInstalled: isInstalled$ | async,
    isActivated: isActivated$ | async,
    isConnected: isConnected$ | async,
    isConnecting: isConnecting$ | async,
    isDisconnecting: isDisconnecting$ | async
  } as obs"
>
  <div
    class="status-gradient"
    [ngClass]="{
      'status-gradient--notactivated': obs.isInstalled && !obs.isActivated,
      'status-gradient--notinstalled': !obs.isInstalled,
      'status-gradient--disconnected': obs.isActivated && !obs.isConnected,
      'status-gradient--connected': obs.isActivated && obs.isConnected
    }"
  >
    <div
      class="status-icon-container"
      [ngClass]="{
        'status-icon-container--clickable':
          obs.isActivated && (!obs.isConnected || obs.isConnected),
        'status-icon-container--loading':
          obs.isConnecting || obs.isDisconnecting
      }"
      (click)="!obs.isDisconnecting && !obs.isConnecting && iconClick()"
    >
      <span
        class="status-icon mdi"
        [ngClass]="{
          'mdi-alert-circle-outline': !obs.isInstalled,
          'mdi-help-circle-outline': obs.isInstalled && !obs.isActivated,
          'mdi-power': obs.isActivated && (!obs.isConnected || obs.isConnected)
        }"
      ></span>
    </div>
  </div>
  <ng-container
    *ngTemplateOutlet="statusMessage; context: { obs: obs }"
  ></ng-container>
  <app-connect-to-location></app-connect-to-location>
</div>

<ng-template #statusMessage let-obs="obs">
  <div class="status-message">
    <h2 class="mat-h2">
      <ng-container *ngIf="!obs.isInstalled">{{
        "notInstalledMessage" | translate
      }}</ng-container>
      <ng-container *ngIf="obs.isInstalled && !obs.isActivated">{{
        "notActivatedMessage" | translate
      }}</ng-container>
      <ng-container
        *ngIf="
          obs.isActivated &&
          !obs.isConnected &&
          !obs.isConnecting &&
          !obs.isDisconnecting
        "
        >{{ "notConnectedMessage" | translate }}</ng-container
      >
      <ng-container
        *ngIf="
          obs.isActivated &&
          obs.isConnected &&
          !obs.isConnecting &&
          !obs.isDisconnecting
        "
        >{{ connectedToMessage$ | async }}</ng-container
      >
      <ng-container *ngIf="obs.isConnecting">{{
        "connectingMessage" | translate
      }}</ng-container>
      <ng-container *ngIf="obs.isDisconnecting">{{
        "disconnectingMessage" | translate
      }}</ng-container>
    </h2>
  </div>
</ng-template>
