.mat-h2 {
    margin: 0;
}

.container {
    background-color: var(--ev-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.status-gradient {
    height: var(--status-gradient-height);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: var(--box-shadow-light);
}

.status-gradient--connected {
    background-image: var(--status-gradient-connected-bg-image);

    .status-icon {
        color: var(--ev-color-green-dark);
    }
}

.status-gradient--disconnected {
    background-image: var(--status-gradient-disconnected-bg-image);

    .status-icon {
        color: var(--ev-color-red-dark);
    }
}

.status-gradient--notactivated {
    background-image: var(--status-gradient-notactivated-bg-image);

    .status-icon {
        color: var(--ev-color-orange-dark);
    }
}

.status-gradient--notinstalled {
    background-image: var(--status-gradient-notinstalled-bg-image);

    .status-icon {
        color: var(--color-grey-0);
    }
}

.status-icon-container {
    position: absolute;
    bottom: 0;
    width: var(--status-icon-container-size);
    height: var(--status-icon-container-size);
    background-image: var(--status-icon-container-bg-image);
    border-radius: 50%;
    transform: translateY(50%);
    box-shadow: var(--box-shadow-heavy);
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-icon-container--clickable {
    cursor: pointer;
}

.status-icon-container--loading {
    animation: pulseanim 2s ease-in-out infinite;
    cursor: default;
}

@keyframes pulseanim {
    0% { transform: translateY(50%) scale(1)}
    25% { transform: translateY(50%) scale(0.95) rotate(5deg)}
    50% { transform: translateY(50%) scale(1)}
    75% { transform: translateY(50%) scale(0.95) rotate(-5deg)}
    100% { transform: translateY(50%) scale(1)}
  }

.status-icon {
    font-size: var(--status-icon-size);
}

.status-message {
    margin-top: var(--status-message-margin);
    width: 100%;
    padding: var(--padding-md);
    box-sizing: border-box;
    text-align: center;
}

.app-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
}

.version {
    margin-bottom: 12px;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    opacity: 0.3;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}